header{
    width: 100%;
    height: 400px;
    display: block;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQTv2Sllgav2nVtxlMpmi5uVeyf-NhcUDw_w&usqp=CAU);    
    background-position: 400px;
    background-size: 40%;
    background-repeat: no-repeat;
    background-color: black;
}
header h1{
    text-align: center;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    color: white;
}

body {
    width: 100%;
    height: 1200px;
    background-color: rgb(191, 189, 189);
    display: block;
    
}

body div {
    width: 20%;
    height: 400px;
    border: 1px transparent;
    margin-left: 110px;
    float: left;
    margin-top: 40px;
}

body h2 {
    font-size: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 150px;
}

body p {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 150px;
}



